In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import tensorflow as tf

In [32]:
data=pd.read_csv("Audiobooks_data.csv",header=None)
data

          0       1     2      3      4   5      6     7       8   9    10  11
0        994  1620.0  1620  19.73  19.73   1  10.00  0.99  1603.8   5   92   0
1       1143  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0    0   0
2       2059  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0  388   0
3       2882  1620.0  1620   5.96   5.96   0   8.91  0.42   680.4   1  129   0
4       3342  2160.0  2160   5.33   5.33   0   8.91  0.22   475.2   0  361   0
...      ...     ...   ...    ...    ...  ..    ...   ...     ...  ..  ...  ..
14079  28220  1620.0  1620   5.33   5.33   1   9.00  0.61   988.2   0    4   0
14080  28671  1080.0  1080   6.55   6.55   1   6.00  0.29   313.2   0   29   0
14081  31134  2160.0  2160   6.14   6.14   0   8.91  0.00     0.0   0    0   0
14082  32832  1620.0  1620   5.33   5.33   1   8.00  0.38   615.6   0   90   0
14083    251  1674.0  3348   5.33  10.67   0   8.91  0.00     0.0   0    0   1

[14084 rows x 12 columns]

In [ ]:
# Organize the data

In [45]:
data0=data.rename(columns={0:"ID",1:"book length overall",2:"book length average",3:"price overall",
                          4:"price average", 5:"review",6:"review score", 7:"minutes listened",8:"completion",
                          9:"support requests",10:"last visit minus last purchase",11:"target"})
data0

,ID,book length overall,book length average,price overall,price average,review,review score,minutes listened,completion,support requests,last visit minus last purchase,target
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [48]:
data1=data0.drop("ID",axis=1)
data1

,book length overall,book length average,price overall,price average,review,review score,minutes listened,completion,support requests,last visit minus last purchase,target
0,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...
14079,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [49]:
data1.isnull().sum()

book length overall               0
book length average               0
price overall                     0
price average                     0
review                            0
review score                      0
minutes listened                  0
completion                        0
support requests                  0
last visit minus last purchase    0
target                            0
dtype: int64

In [ ]:
# shuffle the data before preprocessing to eliminate the unaware potential influential factors

In [50]:
inputs=data1.drop("target",axis=1)
target=data1["target"]

In [85]:
shuffle_index_01=np.arange(inputs.shape[0])
np.random.shuffle(shuffle_index)

first_shuffle_inputs=inputs.values[shuffle_index_01]
first_shuffle_target=target.values[shuffle_index_01]

In [ ]:
# balance the data

In [86]:
zero_counter=0
remove_index=[]

for i in range (len(first_shuffle_target)):
    if first_shuffle_target[i]==0:
        zero_counter+=1
        if zero_counter>np.sum(first_shuffle_target):
            remove_index.append(i)
            
balance_inputs=np.delete(first_shuffle_inputs,remove_index,axis=0)
balance_target=np.delete(first_shuffle_target,remove_index,axis=0)

print (len(balance_inputs),len(balance_target))

4474 4474

In [ ]:
# shuffle the data again to ensure the randomness

In [88]:
shuffle_index_02=np.arange(balance_inputs.shape[0])
np.random.shuffle(shuffle_index_02)

final_shuffle_inputs=balance_inputs[shuffle_index_02]
final_shuffle_target=balance_target[shuffle_index_02]

In [102]:
scaled_inputs=preprocessing.scale(final_shuffle_inputs)
final_target=final_shuffle_target

In [ ]:
# create the train/validation/test data for tensorflow implementation

In [103]:
sample_count=len(scaled_inputs)

train_sample_count=int(0.8*sample_count)
validation_sample_count=int(0.1*sample_count)
test_sample_count=int(0.1*sample_count)

train_inputs=scaled_inputs[:train_sample_count]
train_target=final_target[:train_sample_count]

validation_inputs=scaled_inputs[train_sample_count:train_sample_count+validation_sample_count]
validation_target=final_target[train_sample_count:train_sample_count+validation_sample_count]

test_inputs=scaled_inputs[train_sample_count+validation_sample_count:]
test_target=final_target[train_sample_count+validation_sample_count:]

print(train_inputs.shape,train_target.shape,validation_inputs.shape,validation_target.shape,test_inputs.shape,test_target.shape)
print(np.sum(train_target)/train_sample_count, np.sum(validation_target)/validation_sample_count, np.sum(test_target)/test_sample_count)

(3579, 10) (3579,) (447, 10) (447,) (448, 10) (448,)
0.5018161497625034 0.4899328859060403 0.4966442953020134

In [ ]:
# implement the tensorflow neural network model

In [106]:
np.savez("data_train", inputs=train_inputs,targets=train_target)
np.savez("data_validation", inputs=validation_inputs, targets=validation_target)
np.savez("data_test",inputs=test_inputs, targets=test_target)

In [107]:
npz01=np.load("data_train.npz")
npz02=np.load("data_validation.npz")
npz03=np.load("data_test.npz")

In [108]:
train_inputs,train_targets=npz01["inputs"].astype(np.float),npz01["targets"].astype(np.int)
validation_inputs,validation_targets=npz02["inputs"].astype(np.float),npz02["targets"].astype(np.int)
test_inputs,test_targets=npz03["inputs"].astype(np.float),npz03["targets"].astype(np.int)

In [134]:
input_size=10
output_size=2
hidden_layer_size=100

early_stopping=tf.keras.callbacks.EarlyStopping(patience=3)

model=tf.keras.Sequential([
                     tf.keras.layers.Dense(hidden_layer_size, activation="relu"),
                     tf.keras.layers.Dense(hidden_layer_size, activation="tanh"),
                     tf.keras.layers.Dense(hidden_layer_size, activation="sigmoid"),
                     tf.keras.layers.Dense(output_size,activation="softmax")
                    ])

model.compile(optimizer="adam",loss="sparse_categorical_crossentropy",metrics=["accuracy"])

model.fit(train_inputs,train_targets,batch_size=100,callbacks=[early_stopping],
          validation_data=(validation_inputs, validation_targets),epochs=100, verbose=2)

Epoch 1/100
36/36 - 1s - loss: 0.5897 - accuracy: 0.6692 - val_loss: 0.4636 - val_accuracy: 0.7606
Epoch 2/100
36/36 - 0s - loss: 0.4117 - accuracy: 0.7851 - val_loss: 0.3963 - val_accuracy: 0.7651
Epoch 3/100
36/36 - 0s - loss: 0.3671 - accuracy: 0.8055 - val_loss: 0.3818 - val_accuracy: 0.7740
Epoch 4/100
36/36 - 0s - loss: 0.3557 - accuracy: 0.8072 - val_loss: 0.3857 - val_accuracy: 0.7830
Epoch 5/100
36/36 - 0s - loss: 0.3492 - accuracy: 0.8072 - val_loss: 0.3687 - val_accuracy: 0.7987
Epoch 6/100
36/36 - 0s - loss: 0.3412 - accuracy: 0.8184 - val_loss: 0.3679 - val_accuracy: 0.7964
Epoch 7/100
36/36 - 0s - loss: 0.3358 - accuracy: 0.8170 - val_loss: 0.3657 - val_accuracy: 0.7942
Epoch 8/100
36/36 - 0s - loss: 0.3337 - accuracy: 0.8279 - val_loss: 0.3647 - val_accuracy: 0.7964
Epoch 9/100
36/36 - 0s - loss: 0.3282 - accuracy: 0.8262 - val_loss: 0.3594 - val_accuracy: 0.8031
Epoch 10/100
36/36 - 0s - loss: 0.3283 - accuracy: 0.8231 - val_loss: 0.3567 - val_accuracy: 0.7919
Epoch 11/100
36/36 - 0s - loss: 0.3234 - accuracy: 0.8273 - val_loss: 0.3549 - val_accuracy: 0.7875
Epoch 12/100
36/36 - 0s - loss: 0.3214 - accuracy: 0.8307 - val_loss: 0.3613 - val_accuracy: 0.7964
Epoch 13/100
36/36 - 0s - loss: 0.3282 - accuracy: 0.8161 - val_loss: 0.3512 - val_accuracy: 0.7942
Epoch 14/100
36/36 - 0s - loss: 0.3223 - accuracy: 0.8321 - val_loss: 0.3858 - val_accuracy: 0.7830
Epoch 15/100
36/36 - 0s - loss: 0.3200 - accuracy: 0.8217 - val_loss: 0.3529 - val_accuracy: 0.7919
Epoch 16/100
36/36 - 0s - loss: 0.3171 - accuracy: 0.8321 - val_loss: 0.3534 - val_accuracy: 0.7897

In [ ]:
# test the model

In [135]:
test_loss,test_accuracy=model.evaluate(test_inputs,test_targets)

14/14 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8013

In [136]:
print(round(test_accuracy,2))

0.8